@import '~src/theme.scss';

ul {
  list-style-type: none;
  background-color: $dark;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

li {
  display: inline-block;
}

a {
  height: 3rem;
  padding: 0 0.5rem;
  font-size: 2rem;
  font-family: $header-font-stack;
  text-decoration: none;
  text-align: center;
  color: $mid;
}

.active {
  color: white;
}

@media only screen and (min-width: 480px) {
  ul {
    justify-content: flex-start;
  }
} 
