<div class="banner">
  <h1>Projects</h1>
</div>
<div *ngIf="projects">
  <div *ngFor="let project of projects | async" class="project">
    <h2>
      <a href="{{project.homepage || project.html_url}}" target="_blank"
        rel="noopener noreferrer">{{project.name | dashToSpace | camelAddSpaces | titlecase}}</a>
    </h2>
    <h3 *ngIf="project.homepage">
      <a href="{{project.html_url}}" target="_blank" rel="noopener noreferrer">(repo)</a>
    </h3>
    <p>{{project.description || '(no description)'}}</p>
  </div>
</div>