<div class="banner">
  <h1>Projects</h1>
</div>
<div *ngIf="projects; else loadingProjects">
  <div *ngFor="let project of projects.slice(start, start + size)" class="project">
    <h2>
      <a href="{{project.homepage || project.html_url}}">
        {{project.name | dashToSpace | camelAddSpaces | titlecase}}
      </a>
    </h2>
    <h3 *ngIf="project.homepage"><a href="{{project.html_url}}">(repo)</a></h3>
    <markdown ngPreserveWhitespaces>{{project.description || '(no description)'}}</markdown>
  </div>
</div>
<ng-template #loadingProjects>
  <h2>loading projects...</h2>
</ng-template>