/* You can add global styles to this file, and also import other style files */

// import & set fonts
@import './assets/fonts/fonts.scss';
@import './theme.scss';

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-stack;
}

p, blockquote, pre, ul, li, a {
  font-family: $body-font-stack;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.25rem;
}

html, body {
  margin: 0;
}

.banner {
  text-align: center;
}