// colors
$dark-orange: #cf6400;
$orange: #ff4301;
$light-orange: #fa7d09;
$grey: #4a3f35;
$gray: $grey;
$black: #2f2519;

// fonts
$header-font-stack: 'Spectral', sans-serif;
$body-font-stack: 'Karla', sans-serif;